/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;

  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsla(0, 0%, 0%, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default styles */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}
/* Remove list styles */
ol,
ul,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Declaration order from codeguide.co 
-Positioning
-Box model
-Typography
-Visual
-Misc */

/* Mobile first styling */
/* Navigation Menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  margin-inline: 1.75rem;
}

.nav_left, .nav_right {
  display: flex;
  align-items: center;
}
.nav_left {
  gap: 1rem;
}
.nav_right {
  gap: 1.275rem;
}

img[alt="nav_menu"] {
  width: 1rem;

}
img[alt="nav_logo"] {
  width: 8.2rem;
  margin-bottom: 0.125rem;
}
img[alt="nav_cart"] {
 width: 1.35rem;
}
img[alt="nav_avatar"] {
 width: 1.5rem;
}


.flyout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--neutral-white);
}
.flyout > ul {
  margin: 3rem;
}
.flyout > ul > li {
  color: black;
  font-size: 2rem;
}

/* Product Page styling */
/* Image Slider style */
.slider {
  width: 100%;
  height: 320px;
  position: relative;
}

.slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  top: 139px;
  width: 100%;
}

.arrows > * {
  background-color: var(--neutral-white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
}

.left {
  position: absolute;
  left: 25px;
}
.right {
  position: absolute;
  right: 25px;
}

/* Product Page: Details section styling */
.block {
  margin: 1.75rem;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0;
}
.pricing > .discount {
  color: var(--primary-orange);
  font-size: 1rem;
  background: var(--primary-pale-orange);
  padding: 0.0125rem 0.5rem;
  border-radius: 0.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;

}
.pricing > .original {
  margin-left: auto;
  color: var(--neutral-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}


.btns {
  width: 100%;
  border: none;
  border-radius: 0.55rem;
  font-weight: 700;
}

.btn_group {
  margin: 1rem 0;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--neutral-light-grayish-blue);
}

.btn_inc, .btn_dec {
  font-size: 2rem;
  padding-inline: 0.5rem;
  margin-bottom: 0.5rem;
  background: transparent;
  border: none;
  color: var(--primary-orange);
}
.btn_cart {
  background-color: var(--primary-orange);
  color: var(--neutral-white);
  padding: 1rem;
}


/* Font styling */
h1, .price {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--neutral-very-dark-blue);
  margin: 0.5rem 0;
  line-height: 1.2;
}

h2 {
  font-size: 0.81rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--primary-orange);
}

p {
  font-size: 0.94rem;
  letter-spacing: 0.0125rem;
  color: var(--neutral-dark-grayish-blue);
  line-height: 1.5;
  margin: 1rem 0;
}