/* 
Declaration order from codeguide.co 
-Positioning
-Box model
-Typography
-Visual
-Misc 
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;

  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsla(0, 0%, 0%, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default styles */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles */
ol[class],
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Utility Classes */
.flow-content > * + * {
  padding-top: 1.25rem;
}

.wrapper {
  max-width: 20.75rem;
  margin: 0 auto;
}

/* Mobile first styling */
/* Navigation Menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
}
.nav_left {
  gap: 1rem;
}
.nav_right {
  gap: 1.275rem;
}
.nav_cart_container {
  position: relative;
}
.nav_cart_icon {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: var(--primary-orange);
  color: var(--neutral-white);
  border-radius: 50%;
  font-weight: 700;
  font-size: 0.5rem;
}

img[alt="nav_menu"] {
  width: 1rem;
}
img[alt="nav_logo"] {
  width: 8.2rem;
  margin-bottom: 0.125rem;
}
img[alt="nav_cart"] {
  width: 1.35rem;
}
img[alt="nav_avatar"] {
  width: 1.5rem;
}

.desktop_nav {
  display: none;
}

@media (min-width: 768px) {
  nav {
    padding: 2.25rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.236);
  }
  img[alt="nav_menu"] {
    display: none;
  }
  img[alt="nav_avatar"] {
    width: 3rem;
  }
  .desktop_nav {
    display: flex;
    gap: 2.25rem;
    color: var(--neutral-dark-grayish-blue);
  }
  .nav_left {
    gap: 3.25rem;
  }
  .nav_right {
    gap: 3rem;
  }
}

/* Flyout Nav Mobile and Tablet Only*/
.flyout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  width: 70vw;
  background-color: var(--neutral-white);
}

.flyout_links > li > img {
  margin: 0.75rem 0 1.75rem 0;
}
.flyout_links > * {
  color: var(--neutral-black);
  font-size: 1.25rem;
  font-weight: 700;
}

/* Product Page styling */
.page_container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 6rem;
  }
  .page_container > * {
    flex: 1;
    max-width: 26rem;
  }
  
  .wrapper {
    max-width: 72rem;
  }
}
/* Image Slider style */
.slider {
  display: block;
  position: relative;
  aspect-ratio: 3/2;
  min-height: 300px;
}

.slider > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  top: 139px;
  width: 100%;
}

.arrows > * {
  background-color: var(--neutral-white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
}
/*svgs*/
.left {
  position: absolute;
  left: 25px;
}
.right {
  position: absolute;
  right: 25px;
}
/*previews*/
.slider_preview {
  display: none;
}

@media (min-width: 768px) {
  .arrows {
    display: none;
  }
 
  .slider {
    grid-column: 1 / span 4;
    max-width: 28rem;
    aspect-ratio: 1/1;
  }

  .slider > img {
    border-radius: 0.75rem;
  }
  .slider_preview {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
  }
  .slider_preview > .active {
    border: 1.5px solid var(--primary-orange);
    border-radius: 0.6rem;
  }
  .slider_preview > .active > img {
    opacity:0.25;
  }
  .slider_preview > * > img {
    border-radius: 0.5rem;
  }
}

/* Product Page: Details section styling */
.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0;
}
.flex_pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.discount {
  color: var(--primary-orange);
  font-size: 1rem;
  background: var(--primary-pale-orange);
  padding: 0.175rem 0.5rem;
  border-radius: 0.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.pricing > .original {
  margin-left: auto;
  color: var(--neutral-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}
@media (min-width: 768px) {
  .pricing {
    display: block;
  }
}

/*Amount and Add to Cart Button styling */
.buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.button {
  border: none;
  border-radius: 0.55rem;
  font-weight: 700;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background: var(--neutral-light-grayish-blue);
}

.btn_inc,
.btn_dec {
  font-size: 1.75rem;
  line-height: 0;
  margin-bottom: 0.5rem;
  background: transparent;
  border: none;
  color: var(--primary-orange);
}

.btn_cart,
.btn_checkout {
  background-color: var(--primary-orange);
  color: var(--neutral-white);
  padding: 1rem;
  border: none;
  border-radius: 0.55rem;
  font-weight: 700;
}


  @media (min-width: 768px) {
    .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
    padding: 2rem 0;
  }
  .btn_group {
    grid-column: 1 / span 2;
    display: flex;
    padding-inline: 1rem;
    justify-content: space-between;
    align-items: center;

    background: var(--neutral-light-grayish-blue);
  }
  .btn_cart {
    grid-column: 3 / span 3;
  }
}

/* Checkout Preview styling */
.cart_preview {
  position: absolute;
  z-index: 100;
  top: 5rem;
  left: 0.75rem;
  background: var(--neutral-white);
  border-radius: 0.55rem;
  min-width: 22.875rem;
  min-height: 11.25rem;
}

.cart_preview > h3 {
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.236);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  gap: 1.25rem;
}
.item > img {
  width: 50px;
  border-radius: 0.3rem;
}
.item > img[alt="delete_item"] {
  width: 15px;
}

.item_title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: var(--neutral-dark-grayish-blue);
}
.item_price {
  line-height: 0;
  font-weight: 400;
}

.item_total {
  margin-left: 0.4rem;
  font-weight: 700;
  color: var(--neutral-black);
}
.cart_preview > div {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.btn_checkout {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
  transition: filter 600ms ease;
}
.btn_checkout:hover {
  filter: brightness(120%);
}

/* Font styling */
h1,
.h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--neutral-very-dark-blue);
  margin: 0.5rem 0;
  line-height: 1.2;
}


h2 {
  margin-top: 1.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.81rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06rem;
  color: var(--primary-orange);
}

h3 {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1rem;
}

p {
  font-size: 0.94rem;
  letter-spacing: 0.0125rem;
  color: var(--neutral-dark-grayish-blue);
  line-height: 1.5;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
  }
  p {
    line-height: 1.6;
    padding-bottom: 0.75rem;
  }
}